#{extends 'main.html' /} #{set title:'Thanks!' /}
<!-- MESSAGE ACKNOWLEDGEMENT PAGE -->
<!-- Menu -->
<section class="ui one item menu">
	<a class="item" href="/config"><h3>MyAccount</h3></a>
</section>

<!--  Main segment -->
<section class="ui segment">
	<h1>MyRent</h1>
	<h3>Acknowledgement</h3>
	<div class="ui raised segment">
	  <p>Thank you for your message</p>
	  <p>We very much appreciate you having taken the time to give us some feedback</p>
	  <p>We will address the issues you've raised and notify you of the outcome as soon as possible</p>
	  <p>Best wishes,</p>
	  <p>The MyRent Team</p>
	</div>
</section>