#{extends 'main.html' /} #{set title:'Administrator | Log in' /}
<!-- ADMINISTRATOR LOG IN PAGE -->
<!-- Menu -->
<section class="ui two item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="active item" href="/llogin"><h3>Log in</h3></a>
</section>

<!-- login form -->
<section class="ui segment">
<form class="ui fluid form segment" action="/authenticate" method="POST">
      <h3 class="ui header">Administrator log in</h3>
      <div class="field">
        <input placeholder="Email" name="email" type="text">
      </div>
      <div class="field">
        <input placeholder="Password" type="password" name="password">
      </div>
      <button type="submit" class="ui blue submit button">Login</button>
    <div class="ui error message"></div>
</form>
</section>
<script type="text/javascript" src="@{'/public/javascripts/loginValidation.js'}"></script>